<nav>
    <ul>
        <li><a href="{{ path('index') }}">Home</a></li>
        <li><a href="{{ path('login') }}">Login</a></li>
        <li><a href="{{ path('register') }}">Register</a></li>
        <li>
            Username:
            {{ user }}
        </li>
    </ul>
</nav>